# Flask
SECRET_KEY='a-very-secret-key'
FLASK_APP=run.py
FLASK_ENV=development

# Redis
REDIS_URL=redis://redis:6379/0

# Keycloak
KEYCLOAK_ENABLED=True
KEYCLOAK_SERVER_URL='http://localhost:8080'
KEYCLOAK_REALM_NAME='myrealm'
KEYCLOAK_CLIENT_ID='myclient'
KEYCLOAK_CLIENT_SECRET_KEY='a-very-secret-key-for-client'

# Fernet Encryption Key (Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY='#INSIRA_UMA_CHAVE_GERADA_AQUI#'

# Email (Optional)
MAIL_SERVER='smtp.example.com'
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME='user@example.com'
MAIL_PASSWORD='password'
