{% extends "base.html" %}

{% block title %}Link Seguro Criado - SIGILO{% endblock %}

{% block content %}
<div class="card-panel green lighten-4">
    <h5 class="green-text text-darken-4">Link seguro gerado com sucesso!</h5>
    <p>Compartilhe o link abaixo. Lembre-se que ele irá expirar conforme as regras que você definiu.</p>
</div>

<div class="input-field col s12">
    <input type="text" value="{{ access_url }}" id="accessUrl" readonly>
    <label for="accessUrl">Link de Acesso</label>
</div>
<button class="btn waves-effect waves-light" onclick="copyToClipboard()">Copiar Link
</button>

<script>
function copyToClipboard() {
    var copyText = document.getElementById("accessUrl");
    copyText.select();
    document.execCommand("copy");
    M.toast({html: 'Link copiado para a área de transferência!'})
}
</script>
{% endblock %}
